# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git-workspace\6.824-2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
